h3{
    text-align: center;
}
.container{
    width: 897px;
    text-align: center;
    height: 100vh;
    align-items: center;
    margin: auto;
}
.img{
    float: left;
    width: 50%;
}
.container-img{
	transform: scale(1);
	transition: .6s ease-in-out;
}

/* mouse rollover effect for both images. */
.container-img:hover{
    transform: scale(1.1);
}
.answer-para{
    display:block;
}


.question-popup{
    width: 500px;
    height: 250px;
    border: 6px solid #000;
    border-radius: 15px;
    padding: 15px;
    position: absolute;
    top: 40px;
    background-color: #fff;
    z-index: 1;
    left: 401px;
    top: 70px;

}
#question1{
    display: none;
}
#question2{
    display: none;
}
.img-icon{
    float:left;
    border-radius: 100%;
}
.question-text{
    font-size: 1.5rem;
    font-weight: 600;
    position: absolute;
    left: 70px;
}

.radio-option{
    text-align: left;
    margin-top: 40px;
    margin-left: 46px;
    line-height: 2.5;
    padding: 0px;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: sans-serif;
}
input[type="radio"]{
    font-size: 26px;
}



.sel-ans{
    position: relative;
    margin: 5px 0 6px 0px;
    font-size: 22px;
    font-family: sans-serif;
}
.cor-incor{
    position: relative;
    margin: 5px 0 6px 76px;
    font-size: 22px;
    font-family: sans-serif;
}


.greeting{
    color:rgb(43, 255, 0);
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
    bottom: 0;
    text-align: center;
    width: 67%;
}